---
/* Is.astro */
import Angeljpeg from "./ui/angeljpeg.astro";
---

<section id="is" class="flex items-center justify-center min-h-screen px-4">
  <div
    class="text-white font-roboto-mono font-semibold text-4xl sm:text-5xl md:text-6xl animate-fadeIn"
  >
    <Angeljpeg method="is" />
    <span class="block text-base sm:text-lg text-purple-500 mt-2"
      >Alexis Gonzalez</span
    >
    <p class="text-sm sm:text-lg text-stone-500">
      Clean Architecture | Backend Developer | REST APIs | Problem Solver
    </p>
  </div>
</section>
