---
/* Is.astro */
import Angeljpeg from "./ui/Angeljpeg.astro";
import { Icon } from "astro-icon/components";
---

<section id="is" class="flex items-center justify-center min-h-screen px-4">
  <div
    class="-z-10 h-screen absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
  >
  </div>
  <div
    class="text-white font-roboto-mono font-semibold text-4xl sm:text-5xl md:text-6xl animate-fadeIn"
  >
    <Angeljpeg method="is" />
    <span class="block text-base sm:text-lg text-purple-500 mt-2"
      >Alexis Gonzalez</span
    >
    <p class="text-sm sm:text-lg text-stone-500 mb-3">
      Ingeniero de Software | Desarrollador Backend | Solucionador de problemas
    </p>
    <!-- Social Media -->
    <div class="flex gap-4">
      <a
        href="https://github.com/angeljpeg"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub Profile"
        class="social-link"
      >
        <Icon
          name="mdi:github"
          class="text-3xl text-purple-500 hover:text-purple-400 hover:scale-110 transition-all duration-200"
        />
      </a>
      <a
        href="https://linkedin.com/in/angeljpeg"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn Profile"
        class="social-link"
      >
        <Icon
          name="mdi:linkedin"
          class="text-3xl text-purple-500 hover:text-purple-400 hover:scale-110 transition-all duration-200"
        />
      </a>
      <a
        href="/cv.pdf"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn Profile"
        class="social-link"
      >
        <Icon
          name="mdi:file-outline"
          class="text-3xl text-purple-500 hover:text-purple-400 hover:scale-110 transition-all duration-200"
        />
      </a>
    </div>
  </div>
  <div
    class="absolute bottom-4 left-1/2 transform -translate-x-1/2 animate-bounce text-purple-500"
  >
    <Icon name="mdi:chevron-double-down" class="text-3xl" />
  </div>
</section>
