---
// Projects.astro
import Angeljpeg from "./ui/angeljpeg.astro";
---

<section id="projects" class="min-h-screen p-24">
  <header class="w-full border-b-4 border-purple-400 text-4xl pb-4">
    <Angeljpeg method="projects" />
  </header>
  <main>Content</main>
</section>
