---
import "../styles/global.css";
/* Components */
import Navbar from "../components/ui/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>angeljpeg</title>
  </head>
  <body class="bg-zinc-900 overflow-x-hidden w-full">
    <Navbar />
    <main class="w-full px-4 sm:px-6 lg:px-28">
      <slot />
    </main>
  </body>
</html>
